{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Video Player{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="/">Video Player</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://192.168.0.14:5000">Radio Player</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

{% block page_content %}

<form method="post" class="form form-horizontal">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    <div style="width: 30px; margin-left:30px; float:left">
        {{ wtf.form_field(form.volume) }}
    </div>
    <div style="width: 200px; margin-left:30px; float:left">
        {{ wtf.form_field(form.titles) }}
    </div>
    <div style="width: 40px; margin-left:30px; float:left">
            {{ wtf.form_field(form.language) }}
    </div>
    <div style="width: 30px; margin-left:30px; float:left">
        {{ wtf.form_field(form.sub_no) }}
</div>
<div style="width: 300px; margin-left:15px">
        {{ wtf.form_field(form.play) }}
        {{ wtf.form_field(form.pause) }}
        {{ wtf.form_field(form.stop) }}
    </div>
    </br>
    <div style="width: 300px; margin-left:15px">
        {{ wtf.form_field(form.vol_up) }}
        {{ wtf.form_field(form.vol_down) }}
    </div>
    </br>
    <div style="width: 300px; margin-left:15px">
        {{ wtf.form_field(form.backward_2) }}
        {{ wtf.form_field(form.backward) }}
        {{ wtf.form_field(form.forward) }}
        {{ wtf.form_field(form.forward_2) }}
    </div>
</form>

<!-- <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" style="width:420" src="//www.youtube.com/embed/bvmEYgFsgyg"></iframe>
</div> -->

{% for message in get_flashed_messages() %}
    <div class="alert alert-success" style="width: 300px; margin:15px">
        {{ message }}
    </div>
{% endfor %}

{% endblock %}
{% endblock %}
